<%- include('partials/head')%>
    <%- include('partials/navbar')%>

        <div class="abt" style="margin-top: 8em;">
            <section>
                <div class="image">
                    <!-- image here -->
                    <p></p>
                </div>

                <div class="content">
            
                    <h2 style="color: black;">About Us</h2>
                    <p style="color: black;">We are Hyper-Stack, a group of tech devotees who accept in tossing out
                        our abilities in order to make a difference. The inborn bunch of engineers,
                        designers and marketing geniuses will make beyond any doubt only to stop you from dropping
                        behind in this pacing world. We are young minds and certainty streams in
                        our blood. In the event that anything isn't in our space, we rethink our qualities, and after
                        that bring it out before everyone. No hotchpotch, no if’s and but’s. Fair a YES!.</p>
                    <div class="wrapper row">
                        <div class="col-lg-4 col-md-12" style="text-align: center;">
                           
                            <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter1">
                                <img src="images/arnav.png" class="image--cover">
                              </button>
                              <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLongTitle1">Arnav Adhiya</h5>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                        <a href='https://github.com/Arnav02' target="_blank"><i class="fa fa-github" aria-hidden="true" style="font-size : 4em; margin-left: 20px;"></i></a> 
                                        <a href="https://www.linkedin.com/in/arnav-adhiya-b241a717a/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true" style="font-size : 4em; margin-left: 20px;"></i></a>   
                                        <a href="arnav.pdf" target="_blank" style="font-size : 4em; margin-left: 20px;"><i class="fa fa-id-card-o" aria-hidden="true"></i></a> 
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>

                        <div class="col-lg-4 col-md-12" style="text-align: center;">
                           
                            <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter2">
                                <img src="images/anubhav.png" class="image--cover">
                              </button>
                              <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLongTitle2">Anubhav Singh</h5>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                        <a href='https://github.com/Anubhav2907' target="_blank"><i class="fa fa-github" aria-hidden="true" style="font-size : 4em; margin-left: 20px;"></i></a> 
                                        <a href="https://www.linkedin.com/in/anubhav-singh-jadoun-2689621b3/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true" style="font-size : 4em; margin-left: 20px;"></i></a>   
                                        <a href="anx.pdf" target="_blank" style="font-size : 4em; margin-left: 20px;"><i class="fa fa-id-card-o" aria-hidden="true"></i></a> 
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="col-lg-4 col-md-12" style="text-align: center;">
                           
                            <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter3">
                                <img src="images/profile_pic.png" class="image--cover">
                              </button>
                              <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle3" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLongTitle3">Vinit Mairal</h5>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                        <a href='https://github.com/mairalvinit' target="_blank"><i class="fa fa-github" aria-hidden="true" style="font-size : 4em; margin-left: 20px;"></i></a> 
                                        <a href="https://www.linkedin.com/in/vinitmairal/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true" style="font-size : 4em; margin-left: 20px;"></i></a>   
                                        <a href="vinix.pdf" target="_blank" style="font-size : 4em; margin-left: 20px;"><i class="fa fa-id-card-o" aria-hidden="true"></i></a> 
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-primary abt-btn" style="background: #6c68b9;" data-dismiss="modal">Close</button>
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>

           
                    </div>
                
                    <div class="share-button">
                        <span style="font-size: 1.5rem;font-family: 'Poppins', sans-serif;"><i
                                class="fas fa-share-alt"></i> Contact Us</span>
                        <a href="https://www.facebook.com/vinit.mairal" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://twitter.com/adhiya_arnav" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/anxbhxv/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://github.com/Anubhav2907/Hyper-Stack" target="_blank"><i class="fab fa-github"></i></a>
                    </div>

                </div>
            </section>
        </div>

        <%- include('partials/footer')%>