<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:700,700i,800i,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/225632cc11.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="home.css">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Recursive&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Gorditas:wght@700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Gorditas:wght@700&family=Paytone+One&display=swap"
            rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap" rel="stylesheet">
    </head>

<body
    style="height: 100%; margin: 0; padding: 0; overflow-x: hidden; background-image: url('https://images.unsplash.com/photo-1557683325-3ba8f0df79de?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDh8fGJsdWUlMjBncmFkaWVudHxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=500&q=60') !important; background-repeat: no-repeat; background-size: cover; background-position: center;">
    <div class="navigation-wrap navbar-dark bg-dark start-header start-style">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="https://www.svnit.ac.in/" target="_blank"><img src="images/svnit logo.png"
                                alt=""></a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto py-4 py-md-0">
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                        aria-haspopup="true" aria-expanded="false">People</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/faculty">Faculty</a>
                                        <a class="dropdown-item" href="/staff">Staff</a>
                                        <a class="dropdown-item" href="/students">M.Tech Students</a>
                                        <a class="dropdown-item" href="/phd">Ph.D Students</a>
                                    </div>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="/Research">Research</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="/about">About</a>
                                </li>
                            </ul>
                        </div>

                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="home">

        <div class="container belnav">
            <div class="row upper-row">
                <div class="col-lg-5" data-aos="fade-right">
                    <img src="circuit-board.svg" class="svg fade-in" alt="">
                </div>

                <div class="col-lg-7 row1 fade-in">
                    <h1 class="header"><span style="display: block;">Electronics And Communication
                            Engineering</span></h1>
                    <p class="belhead">The Electronics Department has a rich tradition in research and teaching. The
                        research interests of the faculty members of the department encompass the wide area of applied
                        and fundamental aspects of Electronics and Communication Engineering. The department has strong
                        research programs leading to Ph.D. in all the areas of electronics.
                    </p>
                </div>
            </div>

            <div class="slider" data-aos="fade-down" id="slider1">
                <!-- Slides -->
                <div style="background-image:url(https://svnit.ac.in/web/department/electronics/eced.jpg)">
                </div>
                <div
                    style="background-image:url(https://scontent.fstv1-1.fna.fbcdn.net/v/t1.18169-9/12112440_1724666987762988_2182705928434166499_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=9267fe&_nc_ohc=9Z0ChUZdG08AX8rtJ1B&_nc_ht=scontent.fstv1-1.fna&oh=d912e697681987eb578268d8de0f8c55&oe=6090A7BA)">
                </div>
                <div
                    style="background-image:url(https://scontent.fstv1-1.fna.fbcdn.net/v/t31.18172-8/11953573_1711821739047513_1802049680530221634_o.jpg?_nc_cat=111&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=Jw7-UFu9868AX-XjJTl&_nc_ht=scontent.fstv1-1.fna&oh=57aa3c74021a41be3d484fe72e414036&oe=609188B4)">
                </div>
                <div
                    style="background-image:url(https://scontent.fstv1-1.fna.fbcdn.net/v/t1.18169-9/11896000_1704318649797822_5432764558470189833_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=e3f864&_nc_ohc=jRob7TRj-BYAX-_X5JR&_nc_ht=scontent.fstv1-1.fna&oh=d922f166a0be17bae09d04f84ebd13a2&oe=6091669A)">
                </div>
                <div
                    style="background-image:url(https://scontent.fstv1-1.fna.fbcdn.net/v/t31.18172-0/p600x600/12622428_1759178737645146_1949619015816624040_o.jpg?_nc_cat=106&ccb=1-3&_nc_sid=730e14&_nc_ohc=YVHn6Ty6bd4AX9yGb1d&_nc_ht=scontent.fstv1-1.fna&tp=6&oh=fbf40403e52b7dcb748463ddb8708580&oe=60924F0C)">
                </div>
                <!-- The Arrows -->
                <i class="left" class="arrows" style="z-index:2; position:absolute;"><svg viewBox="0 0 100 100">
                        <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"></path>
                    </svg></i>
                <i class="right" class="arrows" style="z-index:2; position:absolute;"><svg viewBox="0 0 100 100">
                        <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"
                            transform="translate(100, 100) rotate(180) "></path>
                    </svg></i>
            </div>

            <div class="MisVision">

                <div class="mission" data-aos="fade-right" data-aos-duration="1000">
                    <div class="aboveText">
                        <h2 class="missionHeader">Mission</h2>
                        <img src="target.svg" alt="">
                    </div>
                    <ul class="missionList">
                        <li class="missionText">The Electronics Engineering Department was established with an aim
                            of
                            contributing to the society as well as the industry through excellence in education,
                            research,
                            innovations and
                            ethics by stakeholders.</li>
                    </ul>
                </div>

                <div class="vision" data-aos="fade-left" data-aos-duration="1000">
                    <div class="aboveText">
                        <h2 class="visionHeader">Vision</h2>
                        <img src="vision.svg" alt="">
                    </div>
                    <ul class="visionList">
                        <li class="visionText">The farsightedness of our department is the aim to achieve quality
                            in education
                            and research to create leading Electronic Engineers, researchers and entrepreneurs.</li>
                    </ul>
                </div>

            </div>
        </div>

        <footer class="footer">
            <div class="footer-left">
                <div class="logoText">
                    <img src="images\svnit logo.png" alt="">
                    <p> The Sardar Vallabhbhai National Institute of Technology, aka NIT,
                        Surat is an engineering institute of higher education established by the Parliament of India in
                        1961.
                    </p>
                </div>
                <div class="socials">
                    <a
                        href="https://www.facebook.com/Electronics-Communication-Engineering-Department-SVNIT-Surat-1704224663140554"><i
                            class="fa fa-facebook"></i></a>
                </div>
            </div>
            <ul class="footer-right">
                <li class="firstList">
                    <h2>Information</h2>
                    <ul class="box">
                        <li><a href="https://www.svnit.ac.in/Data/Notice/rti/rti.pdf">Right to Information</a></li>
                        <li><a href="https://www.svnit.ac.in/web/contactus.php">Contact Us</a></li>
                        <li><a href="#">Helpline</a></li>
                        <li><a href="https://www.svnit.ac.in/Data/IT_POLICY_2014.pdf">IT Policy</a></li>
                    </ul>
                </li>
                <li class="secondList">
                    <h2>Address</h2>
                    <ul class="box">
                        <li>Ichchhanath,</li>
                        <li>Dumas Road,</li>
                        <li>Surat - 395007</li>
                        <li>Gujarat,</li>
                        <li>India</li>
                    </ul>
                </li>
            </ul>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script type="text/javascript">


        (function ($) {
            "use strict";
            $.fn.sliderResponsive = function (settings) {

                var set = $.extend(
                    {
                        slidePause: 5000,
                        fadeSpeed: 800,
                        autoPlay: "on",
                        showArrows: "off",
                        hideDots: "off",
                        hoverZoom: "on",
                        titleBarTop: "off"
                    },
                    settings
                );

                var $slider = $(this);
                var size = $slider.find("> div").length; //number of slides
                var position = 0; // current position of carousal
                var sliderIntervalID; // used to clear autoplay

                // Add a Dot for each slide
                $slider.append("<ul></ul>");
                $slider.find("> div").each(function () {
                    $slider.find("> ul").append('<li></li>');
                });

                // Put .show on the first Slide
                $slider.find("div:first-of-type").addClass("show");

                // Put .showLi on the first dot
                $slider.find("li:first-of-type").addClass("showli")

                //fadeout all items except .show
                $slider.find("> div").not(".show").fadeOut();

                // If Autoplay is set to 'on' than start it
                if (set.autoPlay === "on") {
                    startSlider();
                }

                // If showarrows is set to 'on' then don't hide them
                if (set.showArrows === "on") {
                    $slider.addClass('showArrows');
                }

                // If hideDots is set to 'on' then hide them
                if (set.hideDots === "on") {
                    $slider.addClass('hideDots');
                }

                // If hoverZoom is set to 'off' then stop it
                if (set.hoverZoom === "off") {
                    $slider.addClass('hoverZoomOff');
                }

                // If titleBarTop is set to 'on' then move it up
                if (set.titleBarTop === "on") {
                    $slider.addClass('titleBarTop');
                }

                // function to start auto play
                function startSlider() {
                    sliderIntervalID = setInterval(function () {
                        nextSlide();
                    }, set.slidePause);
                }

                // on mouseover stop the autoplay
                $slider.mouseover(function () {
                    if (set.autoPlay === "on") {
                        clearInterval(sliderIntervalID);
                    }
                });

                // on mouseout starts the autoplay
                $slider.mouseout(function () {
                    if (set.autoPlay === "on") {
                        startSlider();
                    }
                });

                //on right arrow click
                $slider.find("> .right").click(nextSlide)

                //on left arrow click
                $slider.find("> .left").click(prevSlide);

                // Go to next slide
                function nextSlide() {
                    position = $slider.find(".show").index() + 1;
                    if (position > size - 1) position = 0;
                    changeCarousel(position);
                }

                // Go to previous slide
                function prevSlide() {
                    position = $slider.find(".show").index() - 1;
                    if (position < 0) position = size - 1;
                    changeCarousel(position);
                }

                //when user clicks slider button
                $slider.find(" > ul > li").click(function () {
                    position = $(this).index();
                    changeCarousel($(this).index());
                });

                //this changes the image and button selection
                function changeCarousel() {
                    $slider.find(".show").removeClass("show").fadeOut();
                    $slider
                        .find("> div")
                        .eq(position)
                        .fadeIn(set.fadeSpeed)
                        .addClass("show");
                    // The Dots
                    $slider.find("> ul").find(".showli").removeClass("showli");
                    $slider.find("> ul > li").eq(position).addClass("showli");
                }

                return $slider;
            };
        })(jQuery);



        //////////////////////////////////////////////
        // Activate each slider - change options
        //////////////////////////////////////////////
        $(document).ready(function () {

            $("#slider1").sliderResponsive({
                // Using default everything
                // slidePause: 5000,
                // fadeSpeed: 800,
                // autoPlay: "on",
                // showArrows: "off",
                // hideDots: "off",
                // hoverZoom: "on",
                // titleBarTop: "off"
            });

        });

        // setTimeout(function () {
        //     document.getElementById('slider1').style.visibility = "visible";
        // }, 2000);

    </script>

    <script src="app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
</body>

</html>