<%- include('partials/head')%>
    <%- include('partials/navbar')%>
        <div class="container">
            <div class="row fade-in" style="margin-top: 4em;">
                <div class="col-lg-6 col-md-10">
                    <img class="svg-mtech" src="phd.svg" alt="Kiwi standing on oval">
                </div>
                <div class="intro col-lg-6 col-md-12">
                    <div style="padding-left: 20%;">
                        <div>
                            <h2 class="text-center heading" style="display: block;">Ph.D Students</h2>
                        </div>
                        <p class="text-center description">
                            PhD is a doctoral degree with an academic focus. A PhD course is usually of three years duration and candidates need to complete the course within a maximum time span of five to six years. Aspirants need to possess a master’s degree to be eligible to
                            pursue a PhD programme. Candidates can pursue a PhD programme in any stream. In a PhD course aspirants need to select a topic or a subject and do in-depth research on it and answer any queries related to the topic/ subject.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="codepen-container col-lg-10" style="margin-top: 11em;">
            <div id="icetab-container">
                <div class="icetab current-tab"> Completed Ph.D <br>
                </div>
                <div class="icetab">Ongoing Ph.D <br>
                </div>
            </div>

            <div id="icetab-content">
                <div class="tabcontent tab-active">
                    <table class=" table table-hover table-bordered table-striped table-light">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sr.No</th>
                                <th scope="col">Roll No.</th>
                                <th scope="col">Name</th>
                                <th scope="col">Category</th>
                                <th scope="col">Research Area</th>
                                <th scope="col">Date</th>
                                <th scope="col">Supervisor</th>
                                <th scope="col">Examiner</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>D06EC601</td>
                                <td>Mrs. Upena. D. Dala</td>
                                <td>PIS</td>
                                <td>Design and Analysis of New Selectively Imposed Pilot and channel Estimation Techniques with outage analysis for OFDM System over Time Varying Channel for Frame Based Access in Mobility
                                </td>
                                <td>28/11/2009</td>
                                <td>Dr. Y. P. Kosta</td>
                                <td>Dr. K. D. Kaulat, Professor, VNIT, Nagpur</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>DS08EC607</td>
                                <td>Maulin K. Joshi</td>
                                <td>PEC</td>
                                <td>Neuro Fuzzy Based Autonomous Robot Navigation</td>
                                <td>16/08/2012</td>
                                <td>Dr. M. A. Zaveri</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>DS08EC606 </td>
                                <td>Chirag Paunwala</td>
                                <td>PEC</td>
                                <td>A Cognitive Feature Fusion Approach for License Plate Localization</td>
                                <td>18/12/2012</td>
                                <td>Dr. S. Patnaik</td>
                                <td>Dr. Banshidhar Majhi, Professor, DCSE, NIT, Rourlkela, Orissa</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td> D08EC601</td>
                                <td>Mr. Jignesh N. Sarvaiya</td>
                                <td>PEC</td>
                                <td>Efficient Features Extraction Techniques for Image Registration</td>
                                <td>12/01/2013</td>
                                <td>Dr. S. Patnaik</td>
                                <td>Dr. Manjunath Joshi, Professor, DAIICT, Gandhinagar</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>D09EC601</td>
                                <td>Rakeshkumar Jha</td>
                                <td>FIR</td>
                                <td>WiMax Infrastructure Modeling using OPNET Modeler with LBRRA Scheme Optimization, Attack Modeling and Security Analysis with Proposed Solution</td>
                                <td>23/08/2013</td>
                                <td>Dr. U. D. Dalal</td>
                                <td>Dr. Y. P. Kosta, Director-TC, MEFGI, Rajkot</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>DS09EC906</td>
                                <td>Mr. Piyush N. Patel</td>
                                <td>PIS</td>
                                <td>Nano Scale Porous Silicon Photonic Bandage Sensors Devices</td>
                                <td>03/01/2014</td>
                                <td>Dr. V. Mishra</td>
                                <td>Dr. Rajiv Tripathi, Professor, DE&amp;C, MNIT, Allahabad</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>D08EC602</td>
                                <td> Mita Paunwala</td>
                                <td>PEC</td>
                                <td>Biometric Template Protection and Fusion Strategy</td>
                                <td>13/05/2014</td>
                                <td>Dr. S. Patnaik</td>
                                <td>Dr. Sudipta Mukhopadhayay(IIT Kanpur)</td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td>D09EC 602</td>
                                <td> Vishal Wankhede</td>
                                <td>PEC</td>
                                <td>Optimized Recourse Allocation for Physical Layer of Mobile WIMAX Network Applied in Scheduling of Scalable Video Multicast</td>
                                <td>11/07/2014</td>
                                <td>Dr. (Mrs).U. D. Dalal</td>
                                <td>Dr. Abhay Gandhi, Professor, DE&amp;C, VNIT, Nagpur</td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td>DS08EC603</td>
                                <td>Hiren Mewada</td>
                                <td>PEC</td>
                                <td>Active Contour Formulation for Constrained Image Segmentation</td>
                                <td>19/12/2014</td>
                                <td>Dr. S. Patnaik</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td>DS10EC602</td>
                                <td>Nirmal Jagannath</td>
                                <td>PEC</td>
                                <td>Novel Feature Extraction And Mapping Function For Voice Conversion</td>
                                <td>22/06/2015</td>
                                <td>Dr. S. PatnaikDr. M. A. Zaveri</td>
                                <td>Dr. S. R. Mahadeva Prasanna, Professor, DEEE, IIT, Guwahati</td>
                            </tr>
                            <tr>
                                <th scope="row">11</th>
                                <td>DS09EC903</td>
                                <td>Mrs. Shilpi Gupta</td>
                                <td>PIS</td>
                                <td>Performance Analysis of Novel Robust Non-Conventional Combinations of Mapping and Transform Techniques at Modulation Stage of OFDM System over Multi path Fading Channel
                                </td>
                                <td>26/06/2015</td>
                                <td>Dr. (Mrs).U. D. Dalal</td>
                                <td>Dr. Rajoo Pandey, Professor,DE&amp;C, NIT, Kurukshetra</td>
                            </tr>
                            <tr>
                                <th scope="row">12</th>
                                <td>DS08EC604</td>
                                <td>Mrs. Kirti K. Inamdar</td>
                                <td>PIS</td>
                                <td>Study &amp; Design of Standard Geometric Structures with Overlapped Displacements to Realize Materials with Properties Suitable to Evolve Radiating Structures in Micro stripe Configuration</td>
                                <td>29/06/2015</td>
                                <td>Dr. S. PatnaikDr. Y. P. Kosta</td>
                                <td>Dr. Sardindu Ghosh, Professor, EED, NIT, Durgapur</td>
                            </tr>


                            <tr>
                                <th scope="row">13</th>
                                <td>DS09EC901</td>
                                <td>Mrs. S. N. Shah</td>
                                <td>PIS</td>
                                <td>A Novel Modified Hierarchical Modulation For Video Streaming in DVB-H Under Channel Impairments
                                </td>
                                <td>09/07/2015</td>
                                <td>Dr. (Mrs).U. D. Dalal</td>
                                <td>Dr. Aditya Trivedi, Professor, ABV IIITM, Gwalior</td>
                            </tr>
                            <tr>
                                <th scope="row">14</th>
                                <td>DS09EC902</td>
                                <td>Amit Joshi</td>
                                <td>PIS</td>
                                <td>VLSI Implementation of Video Watermarking Based on H.264 Coding Standard</td>
                                <td>27/07/2015</td>
                                <td>Dr. U. D. DalalDr. J. N. Sarvaiya</td>
                                <td>Dr. Suman David, Professor, DE&amp;S, NITK, Suratkal</td>
                            </tr>
                            <tr>
                                <th scope="row">15</th>
                                <td>D10EC603</td>
                                <td>Ashwini Deshpande</td>
                                <td>PEC</td>
                                <td>Single Image Deblurring:- Novel PSF Estimation and Restoration Techniques</td>
                                <td>10/07/2015</td>
                                <td>Dr. S. Patnaik</td>
                                <td>Dr. Samarendra Dandapat, Professor, DEEE, IIT, Guwahati</td>
                            </tr>
                            <tr>
                                <th scope="row">16</th>
                                <td>DS08EC605</td>
                                <td>Ms. Jigisha N Patel</td>
                                <td>PIS</td>
                                <td>Multi Attributed Dictionaries and Error Protection for Image &amp; Video Transmission
                                </td>
                                <td>10/07/2015</td>
                                <td>Dr. S. Patnaik</td>
                                <td>Dr. Dipti Patra, Asso, Professor, EED, NIT, Rourkela, Orissa</td>
                            </tr>
                            <tr>
                                <th scope="row">17</th>
                                <td>D10EC601</td>
                                <td>Sunil Morade</td>
                                <td>PEC</td>
                                <td>Analysis of Visual Lip Features for Digit Reading</td>
                                <td>06/01/2016</td>
                                <td>Dr. S. Patnaik</td>
                                <td>Dr. Kishor M. Bhurchandi, Professor, VNIT, Nagpur</td>
                            </tr>
                            <tr>
                                <th scope="row">18</th>
                                <td>DS09EC904</td>
                                <td>Mr. Abhilash Mandloi</td>
                                <td>PIS</td>
                                <td>Segmentation Based Channel Scheduling Algorithms for Improving Channel Utilization in OBS Networks</td>
                                <td>26/04/2016</td>
                                <td>Dr. (Mrs).U. D. Dalal</td>
                                <td>Dr. Rajiv Tripathi, Professor, DE&amp;C, MNIT, Allahabad</td>
                            </tr>
                            <tr>
                                <th scope="row">19</th>
                                <td>D10EC602</td>
                                <td>Jay Joshi</td>
                                <td>PEC</td>
                                <td>Development and Analysis of Selective Encryption Algorithm for Sensitive Video Application
                                </td>
                                <td>12/04/2016</td>
                                <td>Dr. (Mrs).U. D. Dalal</td>
                                <td>Dr. U. Sripati Acharya, Professor, DE&amp;C, NIT, Suratkal</td>
                            </tr>
                            <tr>
                                <th scope="row">20</th>
                                <td>D10EC607</td>
                                <td>Mrs. Rasika Dhavse</td>
                                <td>PIS</td>
                                <td>Performance Evaluation of Flash Gate Stacks Employing Ultra-thin Tunnel Oxide and Silicon Nano Crystals</td>
                                <td>27/05/2016</td>
                                <td>Dr. A. D. DarjiDr. R. M. Patrikar</td>
                                <td>Dr. Nitin Kale, Professor, IIT Bombay</td>
                            </tr>
                            <tr>
                                <th scope="row">21</th>
                                <td>DS10EC601</td>
                                <td>Mrs. Krupa Jariwala</td>
                                <td>PIS</td>
                                <td>A Robust Eye Gaze Based Task Selection with Moderate Targets for Real Time Vision Interface Using Low Grade Video Camera</td>
                                <td>14/07/2016</td>
                                <td>Dr. (Mrs).U. D. Dalal</td>
                                <td>Dr. Subhasis Bhattacharjee, R &amp; D Engineer, Synopsys India, Banglor</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">22</th>
                                <td>D10EC606</td>
                                <td>Mr. Zuber Patel</td>
                                <td>PIS</td>
                                <td>Novel DWLC-FQ and BAFPQ Algorithms for Scheduling in WiMAX, enhancing Interclustering with LL-WRR and RED-AT</td>
                                <td>12/12/2016</td>
                                <td>Dr. (Mrs).U. D. Dalal</td>
                                <td>Dr K D KulatProfessor, EC Department,NIT Nagpur</td>
                            </tr>
                            <tr>
                                <th scope="row">23</th>
                                <td>DS11EC003</td>
                                <td>Surabhi Dwivedi</td>
                                <td>FIR</td>
                                <td>Design and Development of Metamaterial-Based Radone Structures for Space-Borne Communications
                                </td>
                                <td>18/12/2016</td>
                                <td>Dr. J. N. Sarvaiya</td>
                                <td>Dr. Alok VermaProfessor, Scientst/Project Manager, IIT Bombay</td>
                            </tr>
                            <tr>
                                <th scope="row">24</th>
                                <td>D11EC002</td>
                                <td>Bhale Vishakha</td>
                                <td>FIR</td>
                                <td>A 0.18 µm CMOS 3-5 GHz IR-Ultra-Wide-band Transceiver Design</td>
                                <td>24/12/2016</td>
                                <td>Dr. (Mrs).U. D. DalalDr. R. M. Patrikar</td>
                                <td>Dr. D. Boolchandani,Professor, Department of Electronics &amp; Communication EngineeringMNIT, Jaipur</td>
                            </tr>
                            <tr>
                                <th scope="row">25</th>
                                <td>D10EC610</td>
                                <td>Khyati Zalawadia</td>
                                <td>PEC</td>
                                <td>Design and Testing of Prototype Calibration Unit of Receiving End 2-Beam Digital Beamformerfor future ISRO Satellite/Onboard System</td>
                                <td>28/04/2017</td>
                                <td>Dr. (Mrs).U. D. Dalal</td>
                                <td>Dr. Amalendu PatnaikAssociate Professor,Department of Electronics and Communication Engg.,India Institute of Technology Roorkee, Uttarakhand</td>
                            </tr>
                            <tr>
                                <th scope="row">26</th>
                                <td>D10EC608</td>
                                <td>Twinkle Doshi</td>
                                <td>PEC</td>
                                <td>Novel DS-UWB Rake Receivers over different UWB Channels</td>
                                <td>01/05/2017</td>
                                <td>Dr. (Mrs).U. D. Dalal</td>
                                <td>Dr. Nithin V. George,Assistant Professor,Electrical Engineering,India Institute of Technology Gandhinagar,Palaj, Gandhinagar – 382 355, Gujarat</td>
                            </tr>
                            <tr>
                                <th scope="row">27</th>
                                <td>D11EC003</td>
                                <td>Nehal Shah</td>
                                <td>PEC</td>
                                <td>Hardware Efficient Block Matching Algorithm and Architecture Implementation for Fast Motion Estimation</td>
                                <td>06/10/2017</td>
                                <td>Dr. (Mrs).U. D. Dalal</td>
                                <td>Dr. Kailash Chandra Ray, Assistant Professor, Department of Electrical Engineering, Indian Institute of Technology Patna, Amahara Road, Bihta,Patna – 801 103, Bihar </td>
                            </tr>
                            <tr>
                                <th scope="row">28</th>
                                <td>D13EC002</td>
                                <td>Hemant Goklani</td>
                                <td>PEC</td>
                                <td>Image Super-resolution using Multi Coupled Dictionary Learning</td>
                                <td>20/07/2018</td>
                                <td>Dr. J. N. Sarvaiya</td>
                                <td>Dr. K. M. Bhurchandi,Professor,Department of Electronics &amp; Communication Engineering, Visvesvaraya National Institute of Technology, Nagpur</td>
                            </tr>
                            <tr>
                                <th scope="row">29</th>
                                <td>D12EC001</td>
                                <td>Idris Bholebawa</td>
                                <td>FIR</td>
                                <td>Software Defined Networking: Architectures and Performance Analysis of Openflow Network Configurations </td>
                                <td>19/12/2018</td>
                                <td>Dr. (Mrs).U. D. Dalal</td>
                                <td>Dr. Noor Mohammad Sk,Asst. Professor,Department of Electronics Engineering,Indian Institute of Information Technology Design &amp; Manufacturing (IIITD&amp;M) Kancheepuram,Melakottaiyur Village, Off Vandalur – Kelambakkam
                                    Road,Nellikuppam, Chennai, Tamil Nadu – 600127India</td>
                            </tr>
                            <tr>
                                <th scope="row">30</th>
                                <td>D14EC003</td>
                                <td>Patel Dhananjay Manohar</td>
                                <td>ESDM</td>
                                <td>Mitigating Transmitter Non-Linearity and Fiber Impairments in Radio over Fiber Technology in Passive Optical Networks</td>
                                <td>10/12/2018</td>
                                <td>Dr. (Mrs).U. D. Dalal</td>
                                <td>Dr. Jitendra Kumar,Associate Professor,Department of Electronics Engineering,Indian Institute of Technology(Indian School of Mines), Dhanbad,Dhanbad, Jharkhand – 826 004India
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">31</th>
                                <td>D14EC008</td>
                                <td>Yadav Rahul Sureshchandra</td>
                                <td>FIR</td>
                                <td>Modeling Fabrication, and Testing of Electromagnetic Bandgap-Inspired Microwave Devices for Sensor Applications</td>
                                <td>29/10/2018</td>
                                <td>Dr. P. N. Patel</td>
                                <td>Dr. Alok Verma,Sr. Scientist/Project Manager,SAMEER (R&amp;D of Govt. of India),Indian Institute of Technology Bombay,Powai, Mumbai, Maharashtra – 4000 076,India</td>
                            </tr>
                            <tr>
                                <th scope="row">32</th>
                                <td>DS14EC001</td>
                                <td>Ratnesh Kumari</td>
                                <td>FSF</td>
                                <td>Sensor Device</td>
                                <td>24/07/2019</td>
                                <td>Dr. P. N. Patel</td>
                                <td>Dr. R. P. Yadav,Professor, Department of Electronics and Communication Engineering, Malaviya National Institte of Technology, Jaipur</td>
                            </tr>
                            <tr>
                                <th scope="row">33</th>
                                <td>D12EC002</td>
                                <td>Rasila Hirani</td>
                                <td>PEC</td>
                                <td>Design, Optimization and Fabrication of Leaky Mode Plasma Antenna for Wideband Application at 2.45 GHz</td>
                                <td>15/09/2019</td>
                                <td>Dr. Shweta Shah</td>
                                <td>Dr. V. Subramanian,Professor,Microwave Laboratory,Department of Physics,Indian Institute of Technology Madras,Chennai, Tamil Nadu – 600 036</td>
                            </tr>
                            <tr>
                                <th scope="row">34</th>
                                <td>DS14EC003</td>
                                <td>Darshna Jagiwala</td>
                                <td>FIR</td>
                                <td>Collateral Advanced Processing for Interface Perception and Reduction (IPR) in NavIC Receiver
                                </td>
                                <td>08/04/2020</td>
                                <td>Dr. S. N. Shah</td>
                                <td>Dr. R. P. Yadav,Professor,Department of Electronics and Communication Engineering,MNIT, Jaipur
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">35</th>
                                <td>DS15EC002</td>
                                <td>Pooja M. Bhamre</td>
                                <td>FIR</td>
                                <td>ANALYTICAL MIDELING OF TRANSMIT-RECEIVED BEAMFORMING USING POLYPHASE CODED WAVEFORMS FOR INTERFACE MITIGATION IN MIMO RADAR</td>
                                <td>22/06/2020</td>
                                <td>Dr. S. Gupta</td>
                                <td>Dr. Rajib Kumar PanigrahiAssociate Professor, Department of Electronics and Telecommunication Engineering, IIT, Roorkee, Uttarakhand</td>
                            </tr>
                            <tr>
                                <th scope="row">36</th>
                                <td>D14EC002</td>
                                <td>Singh Vinaykumar Vijay</td>
                                <td>ESDM</td>
                                <td>Combating LED Nonlinearity by PAPR Reduction of OFDM in Visible Light Communication Systems for High Speed Indoor Applications </td>
                                <td>22/06/2020</td>
                                <td>Dr. (Mrs).U. D. Dalal</td>
                                <td>Dr. Jitendra Singh</td>
                            </tr>
                            <tr>
                                <th scope="row">37</th>
                                <td>D14EC001</td>
                                <td>Pathak Jay Rajendraprasad</td>
                                <td>FIR</td>
                                <td>Assessment of Sub-14 nm technology node In0.53Ga0.47As nFinFET for High Speed Applications
                                </td>
                                <td>24/06/2020</td>
                                <td>Dr. A. D. Darji</td>
                                <td>Dr. S. Dasgupta, Professor, Department of Electronics and Telecommunication Engineering, IIT, Roorkee, Uttarakhand</td>
                            </tr>
                            <tr>
                                <th scope="row">38</th>
                                <td>D15EC001</td>
                                <td>Desai Mehulkumar V.</td>
                                <td>PEC</td>
                                <td>Development and Analysis of Ionosperic Correction Model for Position Estimation with NavIC Receiver</td>
                                <td>22/08/2020</td>
                                <td>Dr. S. N. Shah</td>
                                <td>Dr. Hari B. Hablani,Adjunct Faculty,Department of Astronomy, Astrophysics and Space Engineering,Indian Institute of Technology Indore,Indore, Madhya Pradesh – 453 552,India
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">39</th>
                                <td>D14EC005</td>
                                <td>Prashant K. Shah</td>
                                <td>PIS(ESDM)</td>
                                <td>Two Dimensional Periodically Shift Variant Systems in Stability Context</td>
                                <td>25/01/2021</td>
                                <td>Dr. Upena. D. Dalal, Dr. S. N. Sharma</td>
                                <td>Dr. V. S. Tripathi,Professor,Department of Electronics &amp; Communication Engineering,MNNIT Allahabad</td>
                            </tr>
                            <tr>
                                <th scope="row">40</th>
                                <td>D10EC604</td>
                                <td>Sunita Ugale</td>
                                <td>PEC</td>
                                <td>Design, Formation and Characterization of optical fiber gratings with applications</td>
                                <td></td>
                                <td>Dr. V. Mishra</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">41</t>
                                    <td>D10EC609</td>
                                    <td>Shubhangi Mahamuni</td>
                                    <td>PEC</td>
                                    <td>Spectrum Handoff Delay Minimization in Cognitive Radio Network</td>
                                    <td></td>
                                    <td>Dr. (Mrs).U. D. Dalal</td>
                                    <td>Under review</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tabcontent">
                    <table class=" table table-hover table-bordered table-striped table-light">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sr.No</th>
                                <th scope="col">Roll No.</th>
                                <th scope="col">Name</th>
                                <th scope="col">Category</th>
                                <th scope="col">Research Area</th>
                                <th scope="col">Supervisor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>D14EC004</td>
                                <td>Pradhan Dipika Nabakishore</td>
                                <td>PEC</td>
                                <td></td>
                                <td>Dr. A. S. Mandloi</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>D14EC006</td>
                                <td>Sakhare Swati Vinodkumar</td>
                                <td>PEC</td>
                                <td>Reduction of Computational Complexity using PSO and DTCWT in HEVC Intra Prediction with Better PSNR</td>
                                <td>Dr. (Mrs).U. D. Dalal</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>D14EC007</td>
                                <td>Pathak Ketki Chintankumar</td>
                                <td>PEC</td>
                                <td></td>
                                <td>Dr. J. N. SarvaiyaDr A.D.Darji</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>D14EC011</td>
                                <td>Adhvaryu Meghayu Atulkumar</td>
                                <td>PEC</td>
                                <td>Design and Fabrication of Prototype Sensors for Monitoring Crack Patterns, Rebar Corrosion and Vibration in Civil St </td>
                                <td>Dr. P. N. Patel</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>DS14EC007</td>
                                <td>Pradeep Tiwari</td>
                                <td> PEC</td>
                                <td></td>
                                <td>Dr. A. D. Darji</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>DS14EC004</td>
                                <td>Shailesh Gheewala</td>
                                <td> PEC</td>
                                <td></td>
                                <td>Dr. P. N. PatelDr R.N Dhavse</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>D15EC003</td>
                                <td>Rotake Dinesh</td>
                                <td> ESDM</td>
                                <td></td>
                                <td>Dr. A. D. Darji</td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td>D15EC005</td>
                                <td>Dhuda Hirenkumar</td>
                                <td> ESDM</td>
                                <td></td>
                                <td>Dr. P. N. Patel</td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td>DS15EC003</td>
                                <td>Hetal Pathak</td>
                                <td> PEC</td>
                                <td></td>
                                <td>Dr. S. N. Shah</td>
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td>D16EC002</td>
                                <td>Vishal Chudasama</td>
                                <td> FIR</td>
                                <td>Compact Progressive Approaches for Single Image Super-Resolution using Generative Adversarial Network</td>
                                <td>Dr. Kishor P. Upla</td>
                            </tr>
                            <tr>
                                <th scope="row">11</th>
                                <td>D16EC003</td>
                                <td>Sruthi S.</td>
                                <td> FIR</td>
                                <td>Multifrequency Bio-impedance Measurement for Wound Assessment</td>
                                <td>Dr. R. N. Dhavse<br>Dr. J. N. Sarvaiya</td>
                            </tr>
                            <tr>
                                <th scope="row">12</th>
                                <td>D16EC005</td>
                                <td>Shah Raj</td>
                                <td> FIR</td>
                                <td>Design and Simulation of Single Electron Transistor for Ultra-Low Power Hybrid SETMOS Logic at Room Temperature</td>
                                <td>Dr. R. N. Dhavse</td>
                            </tr>
                            <tr>
                                <th scope="row">13</th>
                                <td>D16EC007</td>
                                <td>Gireesh Gaurav Soni</td>
                                <td> PEC</td>
                                <td></td>
                                <td>Dr. A. S. Mandloi<br>Dr. Shilpi Gupta</td>
                            </tr>
                            <tr>
                                <th scope="row">14</th>
                                <td>D16EC008</td>
                                <td>Chhaya P. Mehta</td>
                                <td> PEC</td>
                                <td></td>
                                <td>Dr. Shilpi Gupta<br>Dr. A. S. Mandloi</td>
                            </tr>
                            <tr>
                                <th scope="row">15</th>
                                <td>DS16EC001</td>
                                <td>Solanki Mitesh S</td>
                                <td> FSF-PEC</td>
                                <td>Low Complexity Detection Algorithms for Large MIMO System: Design Algorithm</td>
                                <td>Dr. S. Gupta</td>
                            </tr>
                            <tr>
                                <th scope="row">16</th>
                                <td>DS16EC002</td>
                                <td>Gandhi Divyangna N</td>
                                <td> PEC</td>
                                <td>EDFA gain flattening optimization with Long Period Fiber Gratings in WDM system and performance analysis of Er-Yb co-doped fiber amplifier</td>
                                <td>Dr. S. Gupta</td>
                            </tr>
                            <tr>
                                <th scope="row">17</th>
                                <td>DS16EC003</td>
                                <td>Naveen Kumar Kabra</td>
                                <td> FIR</td>
                                <td>RNS Processor with Flexible Data Path</td>
                                <td>Dr. Z. M. Patel</td>
                            </tr>
                            <tr>
                                <th scope="row">18</th>
                                <td>DS16EC004</td>
                                <td>Varun Srivastava</td>
                                <td> FIR</td>
                                <td>Analysis of wavelength diversity based free-space optical links in Gamma-Gamma turbulent regime
                                </td>
                                <td>Dr. A. S. Mandloi</td>
                            </tr>
                            <tr>
                                <th scope="row">19</th>
                                <td>D17EC002</td>
                                <td>Abhishek Tripathi</td>
                                <td> FIR</td>
                                <td>Investigation of Converged RoFSO and FSO-FTTH Link under Weather Conditions</td>
                                <td>Dr. Shilpi Gupta<br>Dr. A. S. Mandloi</td>
                            </tr>
                            <tr>
                                <th scope="row">20</th>
                                <td>D17EC003</td>
                                <td>Patel Heena</td>
                                <td> FIR</td>
                                <td>Object Detection with Segmentation: Application to night vision Surveillance</td>
                                <td>Dr. K. P. Upla</td>
                            </tr>
                            <tr>
                                <th scope="row">21</th>
                                <td>D17EC004</td>
                                <td>Prajapati Priyank</td>
                                <td> FIR</td>
                                <td>Real-time Artifact Cancellation of Physiological Signal Acquired using Wearable Biomedical Devices</td>
                                <td>Dr. A. D. Darji</td>
                            </tr>
                            <tr>
                                <th scope="row">22</th>
                                <td>D17EC005</td>
                                <td>Dhiraj Kumar Patel</td>
                                <td> FIR</td>
                                <td>Data Reliability enhancement using RS coded single-channel DP-16-QAM based FSO system under atmospheric turbulence</td>
                                <td>Dr. A. S. Mandloi</td>
                            </tr>
                            <tr>
                                <th scope="row">23</th>
                                <td>D17EC006</td>
                                <td>Patel Mehlkumar Chhibabhai</td>
                                <td>PIS</td>
                                <td></td>
                                <td>Dr. A. S. Mandloi</td>
                            </tr>
                            <tr>
                                <th scope="row">24</th>
                                <td>D17EC007</td>
                                <td>Patel Virendra</td>
                                <td> FIR</td>
                                <td>Precise Point Positioning for NavIC</td>
                                <td>Dr. S. N. Shah</td>
                            </tr>
                            <tr>
                                <th scope="row">25</th>
                                <td>D17EC008</td>
                                <td>Shinde Kalindi</td>
                                <td> PEC</td>
                                <td>Design and Fabrication of Planar Microwave Sensor and Food Industry </td>
                                <td>Dr. S. N. Shah<br>Dr. P. N. Patel</td>
                            </tr>
                            <tr>
                                <th scope="row">26</th>
                                <td>D17EC009</td>
                                <td>Anjankar Shubham</td>
                                <td> PEC</td>
                                <td></td>
                                <td>Dr. R. N. Dhavse</td>
                            </tr>
                            <tr>
                                <th scope="row">27</th>
                                <td>D17EC010</td>
                                <td>Umaria Krupali</td>
                                <td> PEC</td>
                                <td></td>
                                <td>Dr. S. N. Shah</td>
                            </tr>
                            <tr>
                                <th scope="row">28</th>
                                <td>D17EC011</td>
                                <td>Prajapati Harshal Kanaiyalal</td>
                                <td>PEC</td>
                                <td></td>
                                <td>Dr. Z. M. Patel</td>
                            </tr>
                            <tr>
                                <th scope="row">29</th>
                                <td>DS17EC001</td>
                                <td>Patel Bhoomika</td>
                                <td> PEC</td>
                                <td></td>
                                <td>Dr. U. D. Dalal<br>Dr. S. Gupta</td>
                            </tr>
                            <tr>
                                <th scope="row">30</th>
                                <td>DS17EC002</td>
                                <td>Sudhanshu</td>
                                <td> FIR</td>
                                <td>Design of Programmable Digital Low Pass Filter for Portable Biomedical Signal Acquisition
                                </td>
                                <td>Dr. R. N. Dhavse</td>
                            </tr>
                            <tr>
                                <th scope="row">31</th>
                                <td>DS17EC004</td>
                                <td>Anju Mahesh Gupta</td>
                                <td> PEC</td>
                                <td></td>
                                <td>Dr. A. D. Darji</td>
                            </tr>
                            <tr>
                                <th scope="row">32</th>
                                <td>D18EC001</td>
                                <td>Ramya R</td>
                                <td> FIR</td>
                                <td>Proximity fed Sector sshaped Circularly Polarized fractal DGS Antenna</td>
                                <td>Dr. Shilpi Gupta</td>
                            </tr>
                            <tr>
                                <th scope="row">33</th>
                                <td>D18EC002</td>
                                <td>Sagar Pareshkumar Ramanbhai</td>
                                <td>FIR</td>
                                <td>Metamaterial Integrated Rectangular Waveguide with EM-Wave Localization for Dielectric &amp; Moisture Estimation of Soil</td>
                                <td>Dr. Piyush Patel</td>
                            </tr>
                            <tr>
                                <th scope="row">34</th>
                                <td>D18EC003</td>
                                <td>Tandel Kunjal Ishwarbhai</td>
                                <td>PEC</td>
                                <td></td>
                                <td>Dr. U. D. Dalal</td>
                            </tr>
                            <tr>
                                <th scope="row">35</th>
                                <td>D18EC004</td>
                                <td>Shah Arpan Hasmukh</td>
                                <td> FIR</td>
                                <td>E-Textile slot Antenna with Spurious Mode suppression and Low SAR for Medical Wearable Applications
                                </td>
                                <td>Dr. Piyush Patel</td>
                            </tr>
                            <tr>
                                <th scope="row">36</th>
                                <td>DS18EC001</td>
                                <td>Kalpeshbhai Prajapati</td>
                                <td> PPF</td>
                                <td>Single Image Super-Resolution using GAN</td>
                                <td>Dr. K. P. Upla</td>
                            </tr>
                            <tr>
                                <th scope="row">37</th>
                                <td>D19EC002</td>
                                <td>JOSHI HARDIK</td>
                                <td> PEC</td>
                                <td>Performance Analysis of FSO and Hybrid RF-FSO Communication Link</td>
                                <td>Dr. S. Gupta</td>
                            </tr>
                            <tr>
                                <th scope="row">38</th>
                                <td>D19EC003</td>
                                <td>BARRETO FABIAN TOMMY</td>
                                <td> PEC</td>
                                <td>Deep Learning for Face Recognition</td>
                                <td>Dr. J. N. Sarvaiya</td>
                            </tr>
                            <tr>
                                <th scope="row">39</th>
                                <td>D19EC004</td>
                                <td>SINGH GAJRAJ</td>
                                <td> PEC</td>
                                <td>Deep Learning based Segmentation for Diagnosis of 2D Echocardiography </td>
                                <td>Dr. A. D. Darji<br>Dr. J. N. Sarvaiya</td>
                            </tr>
                            <tr>
                                <th scope="row">40</th>
                                <td>D19EC005</td>
                                <td>MITUL NAGAR</td>
                                <td> FIR</td>
                                <td></td>
                                <td>Dr. P. J. Engineer</td>
                            </tr>
                            <tr>
                                <th scope="row">41</th>
                                <td>DS19EC001</td>
                                <td>PRAJAKTA SHAH</td>
                                <td> PEC</td>
                                <td></td>
                                <td>Dr. Z. M. Patel</td>
                            </tr>
                            <tr>
                                <th scope="row">42</th>
                                <td>DS19EC002</td>
                                <td>RAJAT PALIWAL</td>
                                <td> PEC</td>
                                <td></td>
                                <td>Dr. P. N. Patel</td>
                            </tr>
                            <tr>
                                <th scope="row">43</th>
                                <td>D20EC001</td>
                                <td>SOURABH PANWAR</td>
                                <td> FIR</td>
                                <td></td>
                                <td>Dr. Abhishek acharya</td>
                            </tr>
                            <tr>
                                <th scope="row">44</th>
                                <td>D20EC003</td>
                                <td>ANKIT CHOUHAN</td>
                                <td> FIR</td>
                                <td></td>
                                <td>Dr. Kamal Captain</td>
                            </tr>
                            <tr>
                                <th scope="row">45</th>
                                <td>D20EC005</td>
                                <td>SHEETAL TANNA</td>
                                <td> FIR</td>
                                <td></td>
                                <td>Dr. S. N. Shah</td>
                            </tr>
                            <tr>
                                <th scope="row">46</th>
                                <td>D20EC006</td>
                                <td>DEERGHA AGARWAL</td>
                                <td> FIR</td>
                                <td></td>
                                <td>Dr. Z. M. Patel<br>Dr. K. Inamdar</td>
                            </tr>
                            <tr>
                                <th scope="row">47</th>
                                <td>D20EC007</td>
                                <td>PANKAJ WARULE</td>
                                <td> FIR</td>
                                <td></td>
                                <td>Dr. Suman Deb</td>
                            </tr>
                            <tr>
                                <th scope="row">48</th>
                                <td>D20EC008</td>
                                <td>SMITA DAWARE</td>
                                <td> PEC</td>
                                <td></td>
                                <td>Dr. P. J. Engineer<br>Dr. S. N. Shah</td>
                            </tr>
                            <tr>
                                <th scope="row">49</th>
                                <td>D20EC009</td>
                                <td>SHOBHIT SRIVASTAVA</td>
                                <td> FIR</td>
                                <td></td>
                                <td>Dr. Abhishek acharya</td>
                            </tr>
                            <tr>
                                <th scope="row">50</th>
                                <td>D20EC010</td>
                                <td>VASUNDHARA</td>
                                <td> FIR</td>
                                <td>Study of Non Linear effects in Optical Fiber and its Applications</td>
                                <td>Dr. A. S. Mandloi</td>
                            </tr>
                            <tr>
                                <th scope="row">51</th>
                                <td>D20EC011</td>
                                <td>GOLAK SANTRA</td>
                                <td> PIS</td>
                                <td>Zeroth Order Antenna</td>
                                <td>Dr. P. N. Patel</td>
                            </tr>
                            <tr>
                                <th scope="row">52</th>
                                <td>D20EC012</td>
                                <td>SWATI</td>
                                <td> FIR</td>
                                <td></td>
                                <td>Dr. P. J. Engineer</td>
                            </tr>
                            <tr>
                                <th scope="row">53</th>
                                <td>D20EC013</td>
                                <td>SWATI SINGH GOYAL</td>
                                <td> PEC</td>
                                <td>Design of Hollow Core Optical Fiber-Cable for Next Generation</td>
                                <td>Dr. A. S. Mandloi</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <script src="app2.js"></script>
            <%- include('partials/footer')%>