<%- include('partials/head')%>
<%- include('partials/navbar')%>
    <div class="list">
      <p class="completed">List of Completed Sponsored Research Projects</p>
    </div>
    <div class="container">
      <table class=" table table-hover table-bordered table-striped table-light">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Sr.No</th>
            <th scope="col">Title of the project</th>
            <th scope="col">Sponsoring Agency</th>
            <th scope="col">Date</th>
            <th scope="col">Duration</th>
            <th scope="col">Total Sanctioned Amount</th>
            <th scope="col">Coordinator</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Laboratory Development for Wireless Communication</td>
            <td>Agilent Technologies</td>
            <td>March, 2011</td>
            <td>5 Years</td>
            <td>Rs. 16,00,000.00</td>
            <td>Dr. U. D. Dalal</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Spectrum Security in Cognitive Radio.net</td>
            <td>University of Pune, BCUD</td>
            <td>January, 2012</td>
            <td>2 Years</td>
            <td>---</td>
            <td>Dr. V. Mishra</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Characterization of Porous Silicon Structure</td>
            <td>INUP, IIT Bombay</td>
            <td>January, 2012</td>
            <td>6 Months</td>
            <td>---</td>
            <td>Dr. V. Mishra <br> A. K. Panchal</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Development of Intelligent optical bio-chemical <br> sensor using optical fiber gratings</td>
            <td>DST</td>
            <td>December, 2012</td>
            <td>3 Years</td>
            <td>Rs. 27,60,000.00</td>
            <td>Dr. V. Mishra</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Fabrication of Fiber Granting</td>
            <td>INUP, IIT Bombay</td>
            <td>January, 2013</td>
            <td>6 Months</td>
            <td>---</td>
            <td>Dr. V. Mishra</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td> Special Manpower Development Project for VLSI <br> Design and Related Software (SMDP-II)</td>
            <td>DIT, MCIT, GoI, New Delhi</td>
            <td>November, 2005</td>
            <td>5 Years</td>
            <td>Rs. 45,47,950.00</td>
            <td>Mr. A. D. Darji,
              <br> Mr. Z. M. Patel
            </td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Fabrication & Characterization of Quantum Dots Floating <br> GATE MOSCAP Structure for Thin Tunnel
              Oxides</td>
            <td>INUP, IIT Bombay</td>
            <td>October, 2013</td>
            <td>6 Months</td>
            <td>---</td>
            <td>Dr. R. M. Patrikar
              <br> Dr. V. Mishra
              <br> Ms. R. N. Dhavse
            </td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Algorithm Development for Analysis of Biochemical <br> compound using Optical Probing Technique</td>
            <td>TEQIP-II, SVNIT, Surat</td>
            <td>January, 2014</td>
            <td>6 Months</td>
            <td>Rs. 50,000/-</td>
            <td>Dr. V. Mishra <br> P. N. Patel</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Development of Porous Silicon based Optical Sensor <br> for the Detection of Target Molecule in Analyte
            </td>
            <td>TEQIP-II, SVNIT, Surat</td>
            <td>January, 2014</td>
            <td>6 Months</td>
            <td>Rs. 50,000/-</td>
            <td>Dr. V. Mishra <br> P. N. Patel</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Performance Appraisal of A FGMOS Transistor by <br> Using Quantum Dots Floating Gate in 45 nm Regime
            </td>
            <td>DST</td>
            <td>November, 2011</td>
            <td>2 Years</td>
            <td>Total sanctioned Rs. 16,43,117.00 <br> Released Rs. 15,23,117.00</td>
            <td>Dr. V. Mishra
              <br> Ms. R. N. Dhavse
            </td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>IRNSS Navigation Receiver Field Trail and Data Collection</td>
            <td>SAC, Ahmedabad</td>
            <td>March, 2015</td>
            <td>2 Years</td>
            <td>---</td>
            <td>Dr. U. D. Dalal</td>
          </tr>
          <tr>
            <th scope="row">12</th>
            <td>Fabrication and Characterization of Porous Silicon <br> and its Application as an Optical Biosensor</td>
            <td>DRDO</td>
            <td>March, 2011</td>
            <td>3 Years</td>
            <td>Total sanctioned Rs. 30,00,000.00 <br> Released Rs. 28,50,000.00</td>
            <td>Dr. V. Mishra
              <br> Mr. P. N. Patel
              <br> Dr. J. N. Sarvaiya
            </td>
          </tr>
          <tr>
            <th scope="row">13</th>
            <td>FPGA Based Adaptive Filter Algorithm Implementation <br> for external noise cancellation</td>
            <td>DAE, BRNS, GoI, Mumbai</td>
            <td>October, 2015</td>
            <td> --- </td>
            <td>Rs. 17,80,750.00</td>
            <td>Dr. A. D. Darji
              <br> Dr. J. N. Sarvaiya
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    <script src="app.js"></script>
    <%- include('partials/footer')%>