<%- include('partials/head')%>
    <%- include('partials/navbar')%>
        <div class="staff">
            <div class="item item--primary" data-aos="fade-left" data-aos-anchor="#trigger-left" data-aos-anchor-placement="top-center" style="z-index :9">
                <span><strong>OFFICE STAFF</strong></span>
            </div>
            <div class="item item--primary2" data-aos="fade-left" data-aos-anchor="#trigger-left2" data-aos-anchor-placement="top-top" style="z-index :9">
                <span><strong>LABORATORY STAFF</strong></span>
            </div>
            <div class="item item--primary3" data-aos="fade-left" data-aos-anchor="#trigger-left3" data-aos-anchor-placement="top-top" style="z-index :9">
                <span><strong>SUPPORTIVE STAFF</strong></span>
            </div>
            <div class="container" style="margin-top: 10em;">
                <div class="row svg-img fade-in">
                    <div class="col-lg-6 col-md-6">
                        <img class="svg" src="staff.svg" alt="Kiwi standing on oval">
                    </div>
                    <div class="intro col-lg-6 col-md-6" >
                        <div>
                            <h2 class="text-center heading" style="display: block;">STAFF </h2>
                        </div>
                        <p class="text-center description">
                            We are glad to share that we have a dedicated and exceptional staff across the SVNIT Campus. At the time of any need, they step forward with flexibility, resiliency and an attitude of resolving the problem. They are doing there best in order to keep our
                            campus clean and safe. Since the beginning, our staff did their best to keep our Institute's learning system running smoothly. We feel glad and fortuitous having that kind of staff.
                            <br> Given below is the Information of Staff from ECE Department.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" style="text-align: center; ">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="items fade-right " data-aos="fade-left" id="trigger-left">
                        <div class="box" style="margin-top: 9em;"><img class="rounded-circle" src="images/Manoj.jpg">
                            <h3 class="name">Mr. Manoj Reshamwala</h3>
                            <p class="title">Head Clerk</p>
                            <p class="description" style="margin-bottom: 0;"><i class="far fa-envelope"></i> s_mmr@ymail.com
                            </p>
                            <p class="description" style="margin-top: 5px; margin-bottom: 0;"><i class="fas fa-phone"></i> 0261-220-1552
                            </p>
                            <p class="description" style="margin-bottom: 0; margin-top:5px;"> (Daily Wager)
                            </p>
                        </div>
                    </div>
                    <div class="items fade-right" data-aos="fade-right" id="trigger-left2">
                        <div class="box"><img class="rounded-circle" src="images/Brijesh.jpg">
                            <h3 class="name">Mr. Brijesh Rana</h3>
                            <p class="title">Clerk</p>
                            <p class="description" style="margin-bottom: 0;"><i class="far fa-envelope"></i> ranabrijesh44@gmail.com
                            </p>
                            <p class="description" style="margin-top: 5px; margin-bottom: 0;"><i class="fas fa-phone"></i> 0261-220-1552
                            </p>
                            <p class="description" style="margin-bottom: 0; margin-top:5px;"> (Contract Staff)
                            </p>
                        </div>
                    </div>
                    <div class="items fade-right" data-aos="fade-left">
                        <div class="box"><img class="rounded-circle" src="images/1.jpg">
                            <h3 class="name">Mr. Praful Patel</h3>
                            <p class="title">Lab Assistant</p>
                            <p class="description" style="margin-bottom: 0;"><i class="far fa-envelope"></i> praful.patel.pp88@gmail.com
                            </p>
                            <p class="description" style="margin-top: 5px; margin-bottom: 0;"><i class="fas fa-phone"></i> 9574003375
                            </p>
                        </div>
                    </div>
                    <div class="items fade-right" data-aos="fade-right">
                        <div class="box"><img class="rounded-circle" src="images/2.jpg">
                            <h3 class="name">Mrs. Shweta Pathak</h3>
                            <p class="title">Lab Assistant</p>
                            <p class="description" style="margin-bottom: 0;"><i class="far fa-envelope"></i> shwetap1412@gmail.com
                            </p>
                            <p class="description" style="margin-top: 5px; margin-bottom: 0;"><i class="fas fa-phone"></i> 9924999119
                            </p>
                        </div>
                    </div>
                    <div class="items fade-right" data-aos="fade-left">
                        <div class="box"><img class="rounded-circle" src="images/3.jpg">
                            <h3 class="name">Mr. Kapil Umarigar</h3>
                            <p class="title">Lab Assistant</p>
                            <p class="description" style="margin-bottom: 0;"><i class="far fa-envelope"></i> kapilumrigar@gmail.com
                            </p>
                            <p class="description" style="margin-top: 5px; margin-bottom: 0;"><i class="fas fa-phone"></i> 8160212297
                            </p>
                            <p class="description" style="margin-bottom: 0; margin-top:5px;"> (Daily Wager)
                            </p>
                        </div>
                    </div>
                    <div class="items fade-right" data-aos="fade-right">
                        <div class="box"><img class="rounded-circle" src="images/4.jpg">
                            <h3 class="name">Mrs. Yesha Surati</h3>
                            <p class="title">Lab Assistant</p>
                            <p class="description" style="margin-bottom: 0;"><i class="far fa-envelope"></i> ypatel.ec@gmail.com
                            </p>
                            <p class="description" style="margin-top: 5px; margin-bottom: 0;"><i class="fas fa-phone"></i> 8141335379
                            </p>
                            <p class="description" style="margin-bottom: 0; margin-top:5px;"> (Contract Staff)
                            </p>
                        </div>
                    </div>
                    <div class="items fade-right" data-aos="fade-left">
                        <div class="box"><img class="rounded-circle" src="images/5.jpg">
                            <h3 class="name">Mrs. Karishma Patel</h3>
                            <p class="title">Lab Assistant</p>
                            <p class="description" style="margin-bottom: 0;"><i class="far fa-envelope"></i> karishma.patel119@gmail.com
                            </p>
                            <p class="description" style="margin-top: 5px; margin-bottom: 0;"><i class="fas fa-phone"></i> 8511522656
                            </p>
                            <p class="description" style="margin-bottom: 0; margin-top:5px;"> (Contract Staff)
                            </p>
                        </div>
                    </div>

                    <div class="items fade-right" data-aos="fade-right">
                        <div class="box"><img class="rounded-circle" src="images/6.jpg">
                            <h3 class="name">Mr. Ghanshyam Katva</h3>
                            <p class="title">System Admin</p>
                            <p class="description" style="margin-bottom: 0;"><i class="far fa-envelope"></i> gbkatva@gmail.com
                            </p>
                            <p class="description" style="margin-top: 5px; margin-bottom: 0;"><i class="fas fa-phone"></i> 8866304771
                            </p>
                            <p class="description" style="margin-bottom: 0; margin-top:5px;"> (Contract Staff)
                            </p>
                        </div>
                    </div>
                    <div class="items fade-right" data-aos="fade-left" id="trigger-left3">
                        <div class="box"><img class="rounded-circle" src="images/7.jpg">
                            <h3 class="name">Mr. Vishal Patel</h3>
                            <p class="title">Lab Assistant</p>
                            <p class="description" style="margin-bottom: 0;"><i class="far fa-envelope"></i> vishalpatel1504@gmail.com
                            </p>
                            <p class="description" style="margin-top: 5px; margin-bottom: 0;"><i class="fas fa-phone"></i> 9099886500
                            </p>
                            <p class="description" style="margin-bottom: 0; margin-top:5px;"> (Contract Staff)
                            </p>
                        </div>
                    </div>
                    <div class="items fade-right" data-aos="fade-right">
                        <div class="box"><img class="rounded-circle" src="images/01.jpg">
                            <h3 class="name">Mr. Ashok Kothari</h3>
                            <p class="title">Peon</p>
                            <p class="description" style="margin-top: 5px; margin-bottom: 0;"><i class="fas fa-phone"></i> 9687300221
                            </p>
                            <p class="description" style="margin-bottom: 0; margin-top:5px;"> (Peon)
                            </p>
                        </div>
                    </div>
                    <div class="items fade-right" data-aos="fade-left">
                        <div class="box"><img class="rounded-circle" src="images/02.jpg">
                            <h3 class="name">Mr. Champak Patel</h3>
                            <p class="title">Peon</p>
                            <p class="description" style="margin-top: 5px; margin-bottom: 0;"><i class="fas fa-phone"></i> 8153945999
                            </p>
                            <p class="description" style="margin-bottom: 0; margin-top:5px;"> (Daily Wager)
                            </p>
                        </div>
                    </div>
                    <div class="items fade-right" data-aos="fade-right">
                        <div class="box"><img class="rounded-circle" src="images/03.jpg">
                            <h3 class="name">Mr. Rajesh Arthania</h3>
                            <p class="title">Peon</p>
                            <p class="description" style="margin-top: 5px; margin-bottom: 0;"><i class="fas fa-phone"></i> 9426230023
                            </p>
                            <p class="description" style="margin-bottom: 0; margin-top:5px;"> (Daily Wager)
                            </p>
                        </div>
                    </div>
                    <div class="items fade-right" data-aos="fade-left">
                        <div class="box"><img class="rounded-circle" src="images/04.jpg">
                            <h3 class="name">Mr. Vijay Rathod</h3>
                            <p class="title">Peon</p>
                            <p class="description" style="margin-bottom: 0; margin-top:5px;"> (Contract Staff)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="app.js"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
        <%- include('partials/footer')%>