<%- include('partials/head')%>
    <%- include('partials/navbar')%>
        <div class="container">
            <div class="row fade-in" style="margin-top: 7em;">
                <div class="col-lg-6 col-md-10">
                    <img class="svg-mtech" src="undraw_studying_s3l7.svg" alt="Kiwi standing on oval">
                </div>
                <div class="intro col-lg-6 col-md-12">
                    <div style="padding-left: 20%;">
                        <div>
                            <h2 class="text-center heading" style="display: block;">M.Tech Students</h2>
                        </div>
                        <p class="text-center description">
                            MTech is a professional postgraduate engineering master degree programme awarded to
                            candidates after completion of two years of study in the discipline of engineering. This
                            degree is predicated in a specific branch of engineering. In SVNIT, the ME/MTech
                            degree is offered across various specializations. These specializations include Civil
                            Engineering, Computer Science and Engineering, Chemical Engineering, Electrical Engineering,
                            VLSI, Mechanical Engineering, Electronics and
                            Communication Engineering etc.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="codepen-container col-lg-10" style="margin-top: 13em;">
            <div id="icetab-container">
                <div class="icetab current-tab"> M. Tech. – I <br>
                    <p>C.S</p>
                </div>
                <div class="icetab">M. Tech. – II <br>
                    <p>C.S</p>
                </div>
                <div class="icetab">M. Tech. – I <br>
                    <p>VLSI</p>
                </div>
                <div class="icetab">M. Tech. – II <br>
                    <p>VLSI</p>
                </div>
            </div>

            <div id="icetab-content">
                <div class="tabcontent tab-active">
                    <table class=" table table-hover table-bordered table-striped table-light">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sr.No</th>
                                <th scope="col">Admission No.</th>
                                <th scope="col">Student’s Name</th>
                                <th scope="col">Email Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>P20EC001</td>
                                <td>GEETU</td>
                                <td>p20ec001@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>P20EC002</td>
                                <td>CHAUDHARY NIKHIL KUMAR DINESHKUMAR</td>
                                <td>p20ec002@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>P20EC003</td>
                                <td>NITISH PANDEY</td>
                                <td>p20ec003@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>P20EC004</td>
                                <td>LOKHANDE CHETAN ASHOK</td>
                                <td>p20ec004@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>P20EC005</td>
                                <td>JONNALAGADDA THARUN KUMAR</td>
                                <td>p20ec005@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>P20EC006</td>
                                <td>JUNED GADAMPHALLI</td>
                                <td>p20ec006@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>P20EC007</td>
                                <td>DIVYA K A</td>
                                <td>p20ec007@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td>P20EC008</td>
                                <td>AJITH N</td>
                                <td>p20ec008@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td>P20EC009</td>
                                <td>AMRUTHA R MENON</td>
                                <td>p20ec009@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td>P20EC010</td>
                                <td>PHANI PASTULA</td>
                                <td>p20ec010@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">11</th>
                                <td>P20EC011</td>
                                <td>SOURABH MOHAN M V</td>
                                <td>p20ec011@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">12</th>
                                <td>P20EC012</td>
                                <td>SHREYA VIJAY METKAR</td>
                                <td>p20ec012@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">13</th>
                                <td>P20EC013</td>
                                <td>RAHUL KUMAR</td>
                                <td>p20ec013@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">14</th>
                                <td>P20EC014</td>
                                <td>UTKARSH SRIVASTAVA</td>
                                <td>p20ec014@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">15</th>
                                <td>P20EC015</td>
                                <td>HIMANSHI SONI</td>
                                <td>p20ec015@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">16</th>
                                <td>P20EC017</td>
                                <td>SHRADHA GUPTA</td>
                                <td>p20ec017@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">17</th>
                                <td>P20EC018</td>
                                <td>GANESH PATNALA</td>
                                <td>p20ec018@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">18</th>
                                <td>P20EC019</td>
                                <td>USHA SUNKARI</td>
                                <td>p20ec019@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">19</th>
                                <td>P20EC020</td>
                                <td>V CHAITANYA</td>
                                <td>p20ec020@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">20</th>
                                <td>P20EC021</td>
                                <td>PERMI BABA SAI RAM</td>
                                <td>p20ec021@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">21</th>
                                <td>P20EC022</td>
                                <td>UDHAY KUMAR MUGATI</td>
                                <td>p20ec022@eced.svnit.ac.in</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tabcontent">
                    <table class=" table table-hover table-bordered table-striped table-light">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sr.No</th>
                                <th scope="col">Admission No.</th>
                                <th scope="col">Student’s Name</th>
                                <th scope="col">Email Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>P19EC001</td>
                                <td>VISHAL KUMAR DUBEY</td>
                                <td>p19ec001@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>P19EC002</td>
                                <td>JAKASH HARISH NAYAK</td>
                                <td>p19ec002@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>P19EC003</td>
                                <td>MNABEELA</td>
                                <td>p19ec003@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>P19EC004</td>
                                <td>NAVLE NEERAJ RAO</td>
                                <td>p19ec004@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>P19EC005</td>
                                <td>AKSHAY P</td>
                                <td>p19ec005@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>P19EC006</td>
                                <td>KESHAV RAMCHANDRA GENDEPUJARI</td>
                                <td>p19ec006@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>P19EC007</td>
                                <td>VIGNESH D</td>
                                <td>p19ec007@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td>P19EC008</td>
                                <td>PRIYATAM ROY</td>
                                <td>p19ec008@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td>P19EC009</td>
                                <td>KRITARTH KUMAR</td>
                                <td>p19ec009@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td>P19EC010</td>
                                <td>SHELZA SONDHI</td>
                                <td>p19ec010@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">11</th>
                                <td>P19EC011</td>
                                <td>PATIL SHREYASH PRAMODKUMAR</td>
                                <td>p19ec011@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">12</th>
                                <td>P19EC012</td>
                                <td>RAMA TEJASRI BATCHU</td>
                                <td>p19ec012@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">13</th>
                                <td>P19EC013</td>
                                <td>MAHIPAL PACHAR</td>
                                <td>p19ec013@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">14</th>
                                <td>P19EC014</td>
                                <td>ANAND KUMAR SINGH</td>
                                <td>p19ec014@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">15</th>
                                <td>P19EC015</td>
                                <td>NORU CHAITANYA</td>
                                <td>p19ec015@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">16</th>
                                <td>P19EC016</td>
                                <td>AISHWARYA ASHOK MEDPALLIWAR</td>
                                <td>p19ec016@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">17</th>
                                <td>P19EC017</td>
                                <td>PRATIK SHARAD THOSAR</td>
                                <td>p19ec017@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">18</th>
                                <td>P19EC018</td>
                                <td>HARSHAL NARESH DAWARE</td>
                                <td>p19ec018@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">19</th>
                                <td>P19EC019</td>
                                <td>INDU KANDRU</td>
                                <td>p19ec019@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">20</th>
                                <td>P19EC020</td>
                                <td>PRIYANSHU AMRIT NIRMAL</td>
                                <td>p19ec020@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">21</th>
                                <td>P19EC021</td>
                                <td>NITIN PRAKASH</td>
                                <td>p19ec021@eced.svnit.ac.in</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="tabcontent">
                    <table class=" table table-hover table-bordered table-striped table-light">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sr.No</th>
                                <th scope="col">Admission No.</th>
                                <th scope="col">Student’s Name</th>
                                <th scope="col">Email Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>P20VL001</td>
                                <td>MONA HARISH JOSHI</td>
                                <td>p20vl001@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>P20VL002</td>
                                <td>GAJULA NAGA RAJU</td>
                                <td>p20vl002@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>P20VL003</td>
                                <td>AKASH BARKU JADHAV</td>
                                <td>p20vl003@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>P20VL004</td>
                                <td>MANUMANDLA MAHESH</td>
                                <td>p20vl004@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>P20VL005</td>
                                <td>PADMAKAR SHUKLA</td>
                                <td>p20vl005@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>P20VL006</td>
                                <td>ROHIT VERMA</td>
                                <td>p20vl006@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>P20VL007</td>
                                <td>RAHUL KUMAR</td>
                                <td>p20vl007@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td>P20VL008</td>
                                <td>MANJEET KUMAR</td>
                                <td>p20vl008@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td>P20VL009</td>
                                <td>SRUJAN PALLERLA</td>
                                <td>p20vl009@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td>P20VL010</td>
                                <td>PAVAN DATTATRAYA NIMBALWAR</td>
                                <td>p20vl010@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">11</th>
                                <td>P20VL011</td>
                                <td>TARUN KUMAR</td>
                                <td>p20vl011@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">12</th>
                                <td>P20VL012</td>
                                <td>AKSHAY LAXMAN KINAKE</td>
                                <td>p20vl012@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">13</th>
                                <td>P20VL013</td>
                                <td>VAIBHAV SRIVASTAVA</td>
                                <td>p20vl013@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">14</th>
                                <td>P20VL014</td>
                                <td>SAJID PERWEZ</td>
                                <td>p20vl014@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">15</th>
                                <td>P20VL015</td>
                                <td>RISHABH MISHRA</td>
                                <td>p20vl015@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">16</th>
                                <td>P20VL017</td>
                                <td>SHRADHA GUPTA</td>
                                <td>p20vl017@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">17</th>
                                <td>P20VL018</td>
                                <td>DEEPAK SINGH</td>
                                <td>p20vl018@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">18</th>
                                <td>P20VL019</td>
                                <td>SUSHANT KUMAR</td>
                                <td>p20vl019@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">19</th>
                                <td>P20VL020</td>
                                <td>DHEERAJ VERMA</td>
                                <td>p20vl020@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">20</th>
                                <td>P20VL021</td>
                                <td>PRATIMAN SINGH</td>
                                <td>p20vl021@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">21</th>
                                <td>P20VL022</td>
                                <td>PRIYANSHU PATELI</td>
                                <td>p20vl022@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">22</th>
                                <td>P21VL022</td>
                                <td>DEBANJALI RARHI</td>
                                <td>p20vl021@eced.svnit.ac.in</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tabcontent">
                    <table class=" table table-hover table-bordered table-striped table-light">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sr.No</th>
                                <th scope="col">Admission No.</th>
                                <th scope="col">Student’s Name</th>
                                <th scope="col">Email Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>P19VL001</td>
                                <td>PRAFULLA KUMAR SINGH</td>
                                <td>p19vl001@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>P19VL002</td>
                                <td>AMAN KUMAR GUPTA</td>
                                <td>p19vl002@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>P19VL003</td>
                                <td>KALAL MITESH NARAYANLAL</td>
                                <td>p19vl003@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>P19VL004</td>
                                <td>SHUBHAM SAXENA</td>
                                <td>p19vl004@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>P19VL005</td>
                                <td>MADDERI YASHWANTH REDDY</td>
                                <td>p19vl005@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>P19VL006</td>
                                <td>SNEHA SASI</td>
                                <td>p19vl006@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>P19VL007</td>
                                <td>KRUSHNA CHANDANLAL GUPTA</td>
                                <td>p19vl007@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td>P19VL008</td>
                                <td>SOLA RAHUL</td>
                                <td>p19vl008@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td>P19VL009</td>
                                <td>RAJNISH PATEL</td>
                                <td>p19vl009@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td>P19VL010</td>
                                <td>BHILARE SWAPNIL LAXMAN</td>
                                <td>p19vl010@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">11</th>
                                <td>P19VL011</td>
                                <td>SIVAJI MALLE</td>
                                <td>p19vl011@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">12</th>
                                <td>P19VL012</td>
                                <td>VATTE MALLIKARJUNA</td>
                                <td>p19vl012@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">13</th>
                                <td>P19VL013</td>
                                <td>YERRABATHINA PRATHYUSHA</td>
                                <td>p19vl013@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">14</th>
                                <td>P19VL014</td>
                                <td>ATUL KUMAR YADAV</td>
                                <td>p19vl014@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">15</th>
                                <td>P19VL015</td>
                                <td>RAJABOYINA SATYAKISHORE</td>
                                <td>p19vl015@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">16</th>
                                <td>P19VL016</td>
                                <td>VIKAS PRASAD</td>
                                <td>p19vl016@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">17</th>
                                <td>P19VL017</td>
                                <td>DEEPALI RAJENDRA SATHE</td>
                                <td>p19vl017@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">18</th>
                                <td>P19VL018</td>
                                <td>SRIJA VALKI</td>
                                <td>p19vl018@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">19</th>
                                <td>P19VL019</td>
                                <td>SURAJ RAJVILAS GAJBHIYE</td>
                                <td>p19vl019@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">20</th>
                                <td>P19VL020</td>
                                <td>CHAKKA YESWANTH</td>
                                <td>p19vl020@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">21</th>
                                <td>P19VL021</td>
                                <td>ARYAN ASHOKBHAI GAMIT</td>
                                <td>p19vl021@eced.svnit.ac.in</td>
                            </tr>
                            <tr>
                                <th scope="row">22</th>
                                <td>P19VL022</td>
                                <td>MOGILI MANISHA</td>
                                <td>p19vl022@eced.svnit.ac.in</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- <script src="app2.js"></script> -->
        <%- include('partials/footer')%>